.title{
  display:flex;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  justify-content: center;
    
}

.Text{
  
  align-self: start;
  animation: gaming 1s infinite;
  font-size: 5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#333;
}

.container{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:24px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    border: 3px solid red;
    text-align: center;
    height: 150px;
    transition: transform 0.3s ease;
}

@keyframes popText {
    0% {
    font-size: 1rem; /* 元のサイズ */
  }
  50% {
    font-size: 2rem; /* 1.5倍に大きくなる */
  }
  100% {
    font-size: 1rem; /* 元に戻る */
  }
}

@keyframes gaming {
  0%{
    color: red;
    transform: scale(1);
  }
  15%{
    color: orange;
  }
  30%{
    color: yellow;
  }
  50%{
    color: green;
    transform: scale(1.25);
  }
  65%{
    color: blue;
  }
  80%{
    color: indigo;
  }
  100%{
    color: violet;
    transform: scale(1);
  }
}

.card:hover{
    filter: brightness(1.3);
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: popText 1s ease ;
}

